*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Styles for title */
.title_container{
    padding: 30px;
    margin: 0 auto 55px;
    background-color: #372063;
    color: #ffffff;
}
.title{
    font-size: x-large;
    font-weight: 100;
}
/* Styles for  overall container*/
.page_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.9em;
    justify-content: space-between;
    width: 90%;
    margin:auto;
}
.card_container{
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 30.8%;
    background-color: #5167af;
}
/* Styles for image container */
.img_contain{
    display: inline-block;
    width: 75px;
    height: 75px; 
    border-radius: 50%;
}
.details_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 17px;
    color: #ffffff;
}
.name{
    font-size: 20px;
    font-weight: 400;
}
.mailid{
    font-size: 16px;
    font-weight: 100;
}
