*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , 'sans-serif';
}
img{
    max-width: 100%;
}
body{
    background-color: #2a2b30;
}
header{
    padding: 60px 0 40px;
    margin: auto;
    width: 86%;
}
header .logo_container{
    width: 13%;
    display: inline-block;
}
.dropdown_container{
    float: right;
 } 
 .clearfix{
    clear: both;
 }
.hover_icon{
    margin-bottom: 26px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #d8d8d8;
}
.dropdown_container:hover .hover_items{
    /* position: absolute; */
    right: 115px;
    z-index: 1;
    top: 75px;
    width: 250px;
    display: inline-block;
 }
.regular{ 
    z-index: 4;
 } 
 .hover1{
    z-index: -1;
 }
 .regular:hover ~ .hover1{
    background-color: #87b183;
 }
 .hover_items{
    display: none;
    position: relative;
    top: 145px;
    right: 90px;
    padding: 12px;
    border: solid;
    background-color: #f0f8ff;
 }
 .hover_items div{
    padding: 7px;
    background-color: #f0f8ff;
 }
 .hover_items a{
    text-decoration: none;
    color: #000000;
    background-color: #f0f8ff;
 }
 .parent_container{
    padding: 20px;
    margin: auto;
    width: 90%;
}
.card_container{
    margin: 0 15px 60px;
    width: 22.8%;
    display: inline-block;
}
.card_image_container{
    position: relative;
    height: 397px;
    padding: 40px 20px;
    background-color: #24252a;
}
.card_container i{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size:20px;
}
.card_image_container i{
    color:  #87b183;
}
.image_wrapper {
    width: max-content;
    margin: auto;
    margin-top: 12%;
}
.card_image_container img{
    max-height: 256px;
}

.size{
    position: absolute;
    right: 20px;
    /* top: 365px; */
    bottom: -23px;
    padding: 12px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    font-weight: 500;
    font-size: 22px;
    background-color: #87b181;
}
 .card_title{
    padding: 10px 0;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
 }
 .card_container p{
    padding: 0  0 10px;
    color: #979797;
    font-size: 20px;
 }
 .card_container .add_to_cart{
    padding: 10px 25px;
    border: 1px solid #979797;
    background-color: rgb(42,43,48);;
    color: #979797;
    font-size: 15px;
    font-weight: 700;
 }

footer{
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
 }
 footer div{
    display: inline-block;
    padding: 35px;
    font-size: 22px;
    background-color: black;
 }