*{
    box-sizing: border-box;
    margin: 0;
}
img{
    width: 100%;
}
.image_container{
    width: 20%;
    margin: -65px auto;
}
.form_container{
    padding: 32px;
    width: 35%;
    margin: auto;
    box-shadow: 0 3px 10px #00000033;
}
.billing_title{
    margin: 10px 0;
    color: #001c72;
}
.form_container label{
    display: block;
    font-size: 12px;
}

/* Styles for first name and last name */
.name_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px 0 7px;
    background-color: #ffffff;
}
.name_container input, .email_container input, .number_container input , .pincode_container input, .card_container input , .expiry_container input , .cvv_container input{
    margin: 4px 0;
    height: 40px;
}
.name_container div{
    display: block;
    width: 50%;
    margin: 0 0 30px 0;
    height: 35px;
    border-radius: 10%;
}
.name_container input{
    width: 250px;
    margin: 4px 0;
    height: 35px;
}
.last_name_container input{
    width: 270px;
}

/* Styles for email*/
.email_container{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

/* Styles for phone number*/
.number_container{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.number_container div{
    display: block;
    width: 250px;
    border-radius: 10%;
}


/* Styles for pincode*/
.pincode_container{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}


.payment_title{
    margin: 45px 0 0;
}


.card_container{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

/* styles for cvv and expiry parent container */
.cardexpiry_cvv_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cardexpiry_cvv_container div{
    width: 265px;
    border-radius: 10%;
}
.expiry_container, .cvv_container{
    display: flex;
    flex-direction: column;
}
.expiry_container input, .cvv_container input{
    width: 255px;
}
.name_container #fname_errorbox, .name_container #lname_errorbox, .email_container #mailid_errorbox, .number_container #phone_errorbox, .pincode_container #pincode_errorbox, .card_container #cardnumber_errorbox, .expiry_container #cardyear_errorbox , .cvv_container #cvv_errorbox{ 
    font-size: 12px;
    color: #ff0000;
}

#btn{
    border-radius: 3%;
    margin: 5px 0;
    background-color: #001b71;
    padding: 15px 25px;
    color: #ffffff;
    width: 100%;
}