*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
}
.image-container{
    width: 20%;
    margin: -65px auto;
}
.button-container{
    width: 37%;
    margin: 15px auto 0;
}
/* button in normal state and active state styles */
.normal-state{
    padding: 10px 25px;
    margin: 0 5px;
    border-radius: 10px 10px 0 0;
    background-color: #000000;
    color: #ffffff;
}
.active{
    background-color: #001c72;
}
/* Main container which holds the three tabs */
.parent{
    padding: 20px;
    width: 37%;
    margin: auto;
    max-height: 60vh;
    overflow: scroll;
    box-shadow: 0 3px 10px #00000033;
}
/* The content on the about us page */
.about-us-description{
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}
.about-us-image-container{
    padding: 10px;
}
.ui-accordion .ui-accordion-header{
    background: #808eba;
    color: #ffffff;
}
.ui-accordion .ui-accordion-content{
    padding: 1.2em;
}
/* The content on the accordion tabs */
.accordion-para{
    font-weight: 300;
    line-height: 1.5em;
    border: 1px solid #808eb9;
} 

/* The third page locations  */
.locations-table{
    width: 100%;
    border-spacing: 0 10px;
}
.locations-table tr td{
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 300;
}
/* Flag image on the first column */
.locations-table img{
    width: 90%;
}
/* Different widths on the location table */
.locations-table tr td:nth-child(1){
    width: 12%;
}
.locations-table tr td:nth-child(2){
    width: 27%;
}
.locations-table tr:nth-child(odd) {
    background-color: #eeeeee;
}
.locations-table tr:nth-child(even){
    background-color: #f2d9f7;
}
.locations-table tr td:nth-last-child(1){
    text-align: right;
}